* {
    margin: 0;
    max-width: 100%;
    max-height: 130vh;
    box-sizing: border-box;
    text-decoration: none;
}

header {
    display: flex;
    position: relative;
    max-width: 100%;
    width: 100%;
    height: 10vh;
    top: 0vh;
    max-height: 100vh;
    color: white;
    overflow: hidden;
    background-color: transparent;
}

.logo {
    background-color: transparent;
    display: inline-block;
    position: relative;
    width: 8%;
    padding: 1% 1% 1% 1%;
    top: 3vh;
    left: 3%;
    border: solid 0px black;
    border-radius: 100%;
}

h1 {
    display: inline-block;
    position: relative;
    color: rgb(255, 255, 255);
    font-size: 3vh;
    font-weight: 900;
    top: 5vh;
    left: 40%;
}

/*------------------ PAGINA 1 ---------------PAGINA 1 --------------------------------------*/
.pag1 {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    left: 0%;
    top: 0vh;
    background-blend-mode: darken;
    background-attachment: fixed;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.4)), url("../portifolio/galeria/trabalho1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    overflow: hidden;
}

h2 {
    font-family:Arial, Helvetica, sans-serif;
    display: inline-block;
    position: relative;
    font-size: 15vh;
    font-weight: bold;
    color: aliceblue;
    top: 10vh;
    left:10%;
}
h3{
    font-family:Arial, Helvetica, sans-serif;
    display: inline-block;
    position: relative;
    font-size: 2vh;
    font-weight: bold;
    color: aliceblue;
    top: 50vh;
    left:40%;
}

.linha2{
    position: relative;
    width: 10%;
    left:10%;
    top: 10vh;
    border: solid 1px rgb(255, 255, 255);
}
/*----------- BOTAO AGENDA -------------*/

button {
    font-family:Arial, Helvetica, sans-serif;
    background-color: transparent;
    text-decoration: none;
    display: inline-block;
    width: 12%;
    right:45%;
    top:30vh;
    height: 8%;
    font-weight: 500;
    overflow: hidden;
    cursor: pointer;
    margin: 0px;
    font-size: 20px;
    z-index: 1;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 254, 254);
    border-radius: 6px;
    position: relative;
    text-decoration: none;
}

button::before {
    position: absolute;
    content: "";
    background: rgb(255, 255, 255);
    width: 500px;
    height: 100px;
    z-index: -1;
    border-radius: 20%;
}

button:hover {
    color: rgb(0, 0, 0);
}

button:before {
    top: 100%;
    left: 100%;
    transition: 0.1s all;
}

button:hover::before {
    top: -30px;
    left: -30px;
    

}




/*------------------ PAGINA 2 --------------------------PAGINA 2 ----------------------------*/
.pag2 {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 90vh;
    left: 0%;
    top: -1vh;
    background-color: rgb(167, 90, 49);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    overflow: hidden;
}
.img1{
display: inline-block;
    position: relative;
    width: 40%;
    height: 60vh;
    left: 55%;
    top: 10vh;
    background-blend-mode: darken;
    background-attachment: fixed;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1),
            rgba(0, 0, 0, 0.4)), url("../portifolio/galeria/trabalho2.jpg");
    background-repeat:round;
    background-size: cover;
    -webkit-background-size: cover;
    overflow: hidden;
}
.text1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: inline-block;
    position: absolute;
    color: rgb(0, 0, 0);
    font-size: 9vh;
    left: 10%;
    top: 10vh;
}
.text2{
    display: inline-block;
    position: absolute;
    color: rgb(255, 253, 253);
    font-size: 4vh;
    left:10%;
    top: 35vh;
}
.linha1{
    position: absolute;
    height: 30%;
    left:8%;
    top: 10vh;
    border: solid 3px black;
}
.icone1{
    display: inline-block;
    position: absolute;
    width: 3%;
    height: 7vh;
    right: 85%;
    top: 60vh;
}
.icone2{
    display: inline-block;
    position: absolute;
    width: 3%;
    height: 7vh;
    right: 75%;
    top: 60vh;
}
.icone3{
    display: inline-block;
    position: absolute;
    width: 3%;
    height: 7vh;
    right: 65%;
    top: 60vh;
}

.linha3{
    position: relative;
    width: 20%;
    left:75%;
    top: 12vh;
    border: solid 2px rgb(0, 0, 0);
}
/*------------------ PAGINA 3 --------------------------PAGINA 2 ----------------------------*/ 

.pag3{
    display: inline-block;
    position: relative;
    width: 100%;
    height: 80vh;
    max-height: 100vh;
    left: 0%;
    top: -2vh;
    background-blend-mode: darken;
    background-attachment: fixed;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.8)), url("../portifolio/galeria/trab1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    overflow: hidden;
}

.objeto1{
    display: block;
    position: relative;
    color: aliceblue;
    font-size: 3vh;
    left: 12%;
    top: 25vh;
}
.objeto2{
    display: block;
    position: relative;
    color: aliceblue;
    font-size: 3vh;
    left: 33%;
    top: 35vh;
}
.objeto3{
    display: block;
    position: relative;
    color: aliceblue;
    font-size: 3vh;
    left: 55%;
    top: 5vh;
}
.objeto4{
    display: block;
    position: relative;
    color: aliceblue;
    font-size: 3vh;
    left: 75%;
    top: 18vh;
}
.teste1{
    display: inline-block;
    position: relative;
    color: aliceblue;
    background-color: rgb(255, 255, 255);
    width: 4%;
    font-size: 5vh;
    height: 5vh;
    left: 10%;
    top: 20vh;

}
/*------------------ PAGINA 4 --------------------------PAGINA 2 ----------------------------*/ 
.pag4 {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 70vh;
    max-height: 100vh;
    left: 0%;
    top: -2vh;
    background-blend-mode: darken;
    background-attachment: fixed;
    background-image: linear-gradient(rgba(0, 0, 0, 0.0),
            rgba(0, 0, 0, 0.0)), url("../portifolio/galeria/trab2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    overflow: hidden;
}